/* Project Colors */
:root {
  --darkgreen: #0f2f24;
  --green: #2d4d42;
  --lightgreen: #718778;
  --sage: #c4d0cc;
  --lighttaupe: #ded6d3;
  --taupe: #b6aeab;
  --gold: #8d721e;
  --offwhite: #fefcf9;
  --white: #ffffff;
}

/* Entire Page) */
html {
  scroll-padding-top: 70px;
}

body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  margin: 0;
  background-color: var(--lighttaupe);
  padding-top: 70px;
}

/* Navigation Bar */
.navbar {
  background-color: var(--darkgreen);
  padding: 0;
}

.nav-item {
  text-align: center;
}

.navbar-nav .nav-link {
  color: var(--lighttaupe);
}

.navbar-nav .nav-link:hover {
  color: var(--white);
}

.navbar-brand img {
  border-radius: 50%;
}

/* Hero Banner */
.hero-banner {
  display: flex;
  padding: 0;
  justify-content: center;
}

.hero-banner img {
  width: 100%;
  max-width: 1200px;
  border-left: 2px solid var(--gold);
  border-right: 2px solid var(--gold);
}

.text-overlay {
  position: relative;
  margin: 0;
}

.text-overlay figcaption {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: 'Brush Script MT', cursive;
  color: var(--green);
  font-size: 120px;
}

.text-overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  font-size: 30px;
  text-align: center;
}

.hero-banner .btn {
  position: absolute;
  border-radius: 12px;
  padding: 5px 10px;
  top: 60%;
  font-size: 25px;
  font-weight: bold;
}

.hero-banner .btn-primary {
  left: 35%;
  background-color: var(--green);
  border: 2px solid var(--green);
  color: var(--offwhite);
}

.hero-banner .btn-secondary {
  right: 35%;
  background-color: var(--sage);
  border: 2px solid var(--green);
  color: var(--green);
}

.hero-banner .btn-primary:hover {
  background-color: var(--darkgreen);
  border: 2px solid var(--darkgreen);
}

.hero-banner .btn-secondary:hover {
  background-color: var(--green);
  color: var(--offwhite);
}

/* About Section */
.about-section {
  display: flex;
  margin: 0 auto;
  padding: 2%;
  max-width: 1200px;
  background-color: var(--sage);
  border-left: 2px solid var(--gold);
  border-right: 2px solid var(--gold);
}

.about-section .bio {
  order: 1;
  margin-left: auto;
  margin-right: auto;
  font-size: cal(15px + 0.390625vw);
}

.about-section .bio h2 {
  color: var(--darkgreen);
  text-align: center;
  text-decoration: underline overline var(--green) solid 2px;
}

/* Resume Section */
.resume-section {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  border-left: 2px solid var(--gold);
  border-right: 2px solid var(--gold);
}

.resume-section .section1 {
  top: 0;
  left: 0;
  right: 0;
  max-width: 1200px;
  padding: 2% 4%;
}

.resume-section h3 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Brush Script MT', cursive;
  font-size: 3rem;
  text-align: center;
  color: var(--white);
  background-color: var(--darkgreen);
  border-radius: 5px 20px 5px;
  opacity: 95%;
}

.accordion-item {
  padding: 0;
  background-color: var(--offwhite);
}

.accordion-button {
  font-size: inherit;
  background-color: var(--offwhite);
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: var(--sage);
  font-weight: bold;
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(20%);
}

.accordion-button:focus {
  box-shadow: inherit;
}

.accordion-body {
  font-size: cal(15px + 0.390625vw);
}

/* Projects Section */
.projects {
  margin: 0 auto;
  padding: 2%;
  max-width: 1200px;
  background-color: var(--sage);
  border-left: 2px solid var(--gold);
  border-right: 2px solid var(--gold);
}

.projects h3 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Brush Script MT', cursive;
  font-size: 3rem;
  text-align: center;
  color: var(--darkgreen);
  background-color: var(--offwhite);
  border-radius: 20px 5px 20px;
  opacity: 80%;
}

.carousel-item img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px double var(--gold);
  margin-left: auto;
  margin-right: auto;
}

.projects h4 {
  text-align: center;
}

.projects a {
  padding: 10px;
  text-decoration: none;
  background-color: var(--offwhite);
  color: var(--darkgreen);
  font-weight: bold;
  border-radius: 20px 5px 20px;
}

.projects p {
  font-size: cal(15px + 0.390625vw);
  width: 80%;
  text-align: center;
}

/* Media Queries */
@media (min-width: 768px) {
  .about-section .portrait {
    margin-top: auto;
    margin-bottom: auto;
  }

  .about-section .bio {
    order: 0;
  }

  .about-section img {
    order: 1;
    width: 200px;
    height: 300px;
  }
}

@media (max-width: 1200px) {
  .text-overlay figcaption {
    font-size: 11.5vw;
  }

  .text-overlay p {
    font-size: 2.5vw;
  }

  .hero-banner .btn {
    font-size: 2vw;
  }
}
